.editor-control-element_wrapper {
	padding: 1px;
	position: relative;
	color: rgb(103, 106, 108);
	margin: 5px 0;
	cursor: pointer;

	&.hovered {
		padding: 0;
		border: 1px dashed rgb(103, 106, 108);
		border-radius: 5px;
	}

	p {
		margin: 0;
	}

	&:hover {
		padding: 0;
		border: 1px dashed rgb(103, 106, 108);
		border-radius: 5px;

		.editor-control-element_tooltips {
			display: block;
		}
	}
}
