.toolbar {
	width: 100%;
	height: 100%;
	padding: 10px;
	background-color: #fff;
	//overflow-y: auto;

	.toolbar__tabs {
		height: 100%;

		nav {
			a {
				color: #495057
			}
		}
		.tab-content {
			margin-top: 20px;

			.draggable-element {
				margin: 10px;
			}
		}
	}

	.toolbar_editor-wrapper {

		.toolbar_editor-icon-back {
			text-align: right;

			svg {
				color: rgba(103, 106, 108, 0.4);
				cursor: pointer;
				margin-bottom: 10px;
				padding-right: 5px;
				transition: color 0.3s;

				&:hover {
					color: #676a6c;
				}
			}
		}
	}
}
